{% extends 'base.html' %}

{% block content %}

<section class="featured-section">

    <h2>
        Recently Viewed
    </h2>

    <div class="property-grid">

        {% for viewed in recent_properties %}

        <a href="{% url 'property_detail' viewed.property.id %}"
           class="property-link">

            <div class="property-card">

                <img src="{{ viewed.property.image.url }}">

                <div class="property-content">

                    <h3>
                        {{ viewed.property.title }}
                    </h3>

                    <p>
                        {{ viewed.property.location }}
                    </p>

                    <h4>
                        ₹ {{ viewed.property.price }}
                    </h4>

                </div>

            </div>

        </a>

        {% empty %}

        <h3>
            No recently viewed properties
        </h3>

        {% endfor %}

    </div>

</section>

{% endblock %}